<div class="container-fluid">
    <div class="row justify-content-center">
        <label class="display-3 text-center m-3">Conversion Tool</label>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <label>This tool allows you to convert from one currency to another</label>
            <br>
            <button class="btn btn-success" *ngIf="this.showFields == false" (click)="start()">Go</button>
            <button [routerLink]="['/']" *ngIf="this.showFields == false"
                class="btn btn-outline-success ml-1">Return</button>
            <app-conversion-fields (onConvet)="getConvertionRate($event)" *ngIf="this.showFields == true">
            </app-conversion-fields>
            <br>
            <label class="display-4 m-5 text-success" *ngIf="this.coin.value">{{this.showConversionResult.rates}}
                {{this.showConversionResult.coinFrom}}
                represents {{coin.value}}
                {{this.showConversionResult.coinTo}} </label>
        </div>
    </div>
</div>