<div class="container-fluid">
  <div class="row justify-content-around align-items-center m-md-5">
    <div class="col-12 col-md-8 mt-md-0 mt-5  mb-5">
      <button [routerLink]="['/latest']" type="button" (mouseenter)="changeCard('latest')" (mouseleave)="changeCard('menu')"
        class="btn btn-success btn-lg btn-block">Latest Rates</button>
      <button [routerLink]="['/historical']" (mouseenter)="changeCard('historical')" (mouseleave)="changeCard('menu')" type="button"
        class="btn btn-success btn-lg btn-block">Historical Rates</button>
      <button [routerLink]="['/time-series']" (mouseenter)="changeCard('timeSeries')" (mouseleave)="changeCard('menu')" type="button"
        class="btn btn-success btn-lg btn-block">Time Series Rates</button>
      <button [routerLink]="['/conversion']" (mouseenter)="changeCard('conversion')" (mouseleave)="changeCard('menu')" type="button"
        class="btn btn-success btn-lg btn-block">Conversion Rates</button>
    </div>
    <div class="col-12 col-md-4 mb-5">
      <div class="card bg-dark text-white justify-content-center">
        <img class="card-img" [src]="this.menuCards.photo" alt="Card image">
        <div class="card-img-overlay">
          <h5 class="display-4 text-center">{{this.menuCards.title}}</h5>
          <p class="display-5 text-center">{{this.menuCards.description}}</p>
          <p class="display-5 text-center">{{this.menuCards.footer}}</p>
        </div>
      </div>
    </div>
  </div>
</div>