<div class="container-fluid">
    <div class="row justify-content-center">
        <!--Adicionem o card de vcs ae pessoal, só copiar e colar essa div abaixo e trocar as info e add uma foto de vcs nessa pasta ../../assets/avatar/-->
        <div class="card mb-3 mt-3">
            <img class="card-img-top center-block" style="width: 300px; height: 300px;"
                src="../../assets/avatar/mateus.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mateus Oliveira</h5>
                <span class="card-text">Skills: DotNet, Angular, Sql, Git</span>
                <br>
                <span class="card-text">Languages: Portuguese (Native), English (b2), Spanish (a2)</span>
                <br>
                <span class="card-text">Hobbies: Programming projects like this, Double Bass, Learning new things</span>
                <p class="card-text">
                    <small class="text-muted">github: <a style=" color: inherit;"
                            href="https://github.com/MateusMo/">https://github.com/MateusMo/</a></small>
                    <br>
                    <small class="text-muted">Linkedin: <a style=" color: inherit;"
                            href="https://www.linkedin.com/in/mateus-marques-oliveira/">https://www.linkedin.com/in/mateus-marques-oliveira/</a></small>
                </p>
            </div>
        </div>
    </div>
</div>