<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
          <label class="display-4 " for="inputState">Historical Rates</label>
            <input [(ngModel)]="data" type="date" class="form-control">
        </div>
        <div class="col-12 text-center mt-2">
            <button (click)="search()" class="btn btn-success m-2">Search</button>
        </div>
        <div>
          <table *ngIf="this.historicalRatesArray!=undefined" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Coin</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let historical of this.historicalRatesArray;let i = index" [attr.data-index]="i">
                <th scope="row">{{i + 1}}</th>
                <td>{{historical.label}}</td>
                <td>{{historical.coin}}</td>
                <td>{{historical.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
